{% extends 'base.html' %}

{% block content %} 
{% load static %}

<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/tarjetacuidador.css' %}" type="text/css" rel="stylesheet">

<div>
    
    <div><h1 class="titulo">Cuidadores</h1></div>
    <hr>
    <!--Tarjetas-->
    <div class="container ">

        
        <div class="row row-cols-2 row-cols-md-4 g-4">
            {% for c in lista_cuidadores %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/card1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5>{{c.nombres}} {{c.apellidos}}</h5>
                        <p class="card-text">Descripcion cuidador</p>
                        <div>estrellitas</div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
       
    </div>

</div>


{% endblock %}