.titulo{
    color: black;
    text-indent: 50px;
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
}


.btn-info{
    background-color: #06BEE1;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
}

.btn-info:hover{
    background-color: #FF7d00;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0; 
}