
{% extends 'base.html' %}

{% block content %} 

{% load static %}
<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet">
<section style ="background-color: #fff;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card-body text-center">
              <img src="{{ profile.picture.url}}" 
                class="rounded-circle img-fluid">
              <h5 class="my-3">{{profile.user.categoria}} </h5>
              </a>
              <div class="d-flex justify-content-center mb-2">
                <a class="nav-link"  href="#">
                    <a class="btn btn-info float-end" href="{% url 'users:update' profile.id %}">Editar</a>
                </a>
                <br>
                 <a class="nav-link"  href="#">
                  <a class="btn btn-info float-end" href="{% url 'users:mascota'  %}">Mascotas</a>
              </a>  
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre de usuario:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.user.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre completo:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.user.nombres}} {{profile.user.apellidos}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Rut:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.user.rut}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Correo electronico</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Telefono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile.user.telefono}}</p>
                </div>
              </div>
              <hr>


              {%if user.is_authenticated and profile.user %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Tipos de servicios:</p>
                </div>
              </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {% for servicios in user.profile.servicios.all %}
                    <span class="badge bg-primary">{{ servicios.nombre  | upper }}</span>
                  {% endfor %} 
                  </p>
                  <br>
              </div>
              <div class="modal fade" id="seleccionar" rol="servicios">

              </div>
              {%endif%}




                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Descipccion</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.profile.descripcion}}</p>
                    </div>
                  </div>
                </div>
              </div>

{% comment %} Aqui van las mascotas {% endcomment %}
 <div class="row">
    <div class="col-md-15">
      <div class="card mb-4 mb-md-0">
        <div class="card-body">
          <p class="mb-4"><span class="titulo me-1">Mis Mascotas</span> 
          </p>
          
          {% for c in lista_mascota %}
          {% if c.user %}
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <strong>Hola mi nombres es: </strong> {{c.nombre_de_mascota}} 
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><strong>Quien soy: </strong> {{c.descripccion}}</div>
              </div>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> <strong>Poose Chip: </strong> {{c.chip}} </div>
              </div>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> <strong>Mi numero de Chip es : </strong> {{c.n_chip}} </div>
              </div>  
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> 
                  {% comment %} {% if c.especies.all%}
                  <div class="accordion-body"> <strong>Soy un/a : </strong> {{c.especies}} </div>
                  {% endif%} {% endcomment %}
                  {% for especies in user.mascota.especies.all %}
                  <span class="badge bg-primary">{{ especies.nombre  | upper }}</span>
                {% endfor %} 
                </div>
              </div> 

              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> <strong>Este/a soy yo : </strong>                   
                  {% if c.image %}
                  <img src="{{c.image.url}}" width="100px" height="100px" alt="">
                  {% endif %} </div>
              </div>           
          </div>
          {% endif %}
          {% endfor %}
          
          </div>
        </div>
      </div>
    </div>
  </div> 


                      </div>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  

{% endblock %}