{% extends 'base.html' %}

{% block content %} 

{% load static %}

<div class="container">
    <h2>Editar Perfil</h2>
     {% if 'ok' in request.GET %} 
         <div class="alert alert-success" role="alert">
            El Perfil  se ha actualizado correctamente 
            <span>
                <a class="btn btn-sm btn-success" href="{% url 'users:profile' user.username %}">Ver mi Perfil</a>
            </span>
        </div>
    {% endif %} 
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="form-group">
            {{ form.picture.label}}
            {{ form.picture}}
            <br>
            <div class="container">
                <p>Imagen actual</p>
                <div class="col-lg-6">
                  <div class="card mb-5">
                    <div class="card-body text-center">
                      <img src="{{profile.picture.url}}" 
                        class="rounded-circle img-fluid" style="width: 500px; height: 500px;">
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="form-group">
            {{ form.descripcion.label}}
            {{ form.descripcion}}
            
        </div>

        <div class="form-group">
            {{ form.servicios.label}}
            {{ form.servicios}}
        </div>      
        <br><br>

        <div class="text-center">
            <input class="btn btn-lg btn-primary" type="submit" value="ACTUALIZAR PERFIL">
        </div>

        <a href="{% url 'users:profile' username=user.username %}" class="mt-4 inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded dark:text-dark-txt text-indigo-700 dark:bg-dark-second bg-indigo-100 dark:hover:bg-dark-third hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-indigo-500">
            Regresar a mi perfil </a>
    </form>
</div>





{% endblock %}