{% extends 'base.html' %}
{% load static %}


{% block content %}  

{% comment %} {%if object_list%}  {% endcomment %}
{% comment %} <div class="card">
    <div class = "card-header">
        <strong class="card title">Listado de Servicios</strong>
        
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                <th>ID</th>
                <th>Nombre del servicio</th>
                <th>Infomacion del servicio del servicio</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                <tr>
                    <td>{{servicio.id}}</td>
                    <td>{{servicio.nombre}}</td>
                    <td>{{servicio.informacion}}</td>

                </tr>
                {% endfor %} 
            </tbody> {% endcomment %}
            <div class="container">
                <h2>Servicios Disponibles</h2><br><br>
                <center><img src="{% static 'img/colaboradores.png' %}" width="600" height="400" alt=""></center>
              
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Infomacion</th>
              
                        </tr>
                    </thead>
                    <tbody>
                        {% for ve in servicios %}
                        <tr>
                            <td>{{ve.id}}</td>
                            <td>{{ve.nombre}}</td>
                            <td>{{ve.informacion}}</td>
                            <td><a href="{% url 'users_app:modificar_servicio' ve.id %}" 
                                class="btn btn-primary">Modificar</a></td>
                            <td><a href="{% url 'users_app:eliminar_servicio' ve.id %}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table><br>
                <a href="{% url 'users_app:crear_servicio' %}" class="btn btn-primary">Crear un Nuevo Servicio</a>
                
              </div><br><br>

 {% endblock %} 