{% extends 'base.html' %}
{% load static %}


{% block content %}  

{% comment %} {%if object_list%}  {% endcomment %}
{% comment %} <div class="card">
    <div class = "card-header">
        <strong class="card title">Listado de Servicios</strong>
        
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                <th>ID</th>
                <th>Nombre del servicio</th>
                <th>Infomacion del servicio del servicio</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                <tr>
                    <td>{{servicio.id}}</td>
                    <td>{{servicio.nombre}}</td>
                    <td>{{servicio.informacion}}</td>

                </tr>
                {% endfor %} 
            </tbody> {% endcomment %}
            <div class="container">
                <h2>Servicios Disponibles</h2><br><br>
                {% comment %} <center><img src="#" width="600" height="400" alt=""></center> {% endcomment %}
              
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Servicios</th>
                            <th>Descripccion</th>
                            
              
                        </tr>
                    </thead>
                    <tbody>
                        {% for pe in perfile %}
                        <tr>
                            <td>{{pe.user}}</td>
                            <td>
                                {% for servicios in profile.servicios.all %}
                                <td>{{servicios.nombre}}</td>
                                
                              {% endfor %} 
                            </td>
                            <td>{{pe.descripcion}}</td>

                            <td><a href="{% url 'users_app:modificar_perfil' pe.id %}" 
                                class="btn btn-primary">Modificar</a></td>
                            {% comment %} <td><a href="{% url 'users_app:eliminar_servicio' pe.id %}" class="btn btn-danger">Eliminar</a></td> {% endcomment %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table><br>
                {% comment %} {{pe.servicios}} <a href="{% url 'users_app:crear_servicio' %}" class="btn btn-primary">Crear un Nuevo Servicio</a> {% endcomment %}
                
              </div><br><br>

 {% endblock %} 